<head>
  {{- partial "analytics" . -}}

  <meta charset="utf-8">

  {{- $pageTitle := .Title | default .Site.Title -}}
  {{- $fullTitle := printf "%s | %s" $pageTitle .Site.Title -}}
  <title>{{ $fullTitle }}</title>

  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Favicon & Manifest -->
  <link rel="apple-touch-icon" sizes="180x180" href='{{ "apple-touch-icon.png" | relURL }}'>
  <link rel="icon" type="image/png" sizes="32x32" href='{{ "favicon-32x32.png" | relURL }}'>
  <link rel="icon" type="image/png" sizes="16x16" href='{{ "favicon-16x16.png" | relURL }}'>
  <link rel="manifest" href='{{ "site.webmanifest" | relURL }}'>

  <!-- FontAwesome -->
  {{- $fa := .Site.Params.icon.fontawesome | default false -}}
  {{- $faCSS := resources.Get "css/fa6.min.css" | relURL -}}
  {{- if $fa }}
  <link href='{{ $faCSS }}' rel="stylesheet" type="text/css">
  {{- end }}

  <!-- CSS -->
  {{- $styles := resources.Get "css/style.css" | postCSS | minify | fingerprint | resources.PostProcess -}}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">

  <link rel="stylesheet" href='{{ "/css/style.min.css" | relURL }}'>
  <link rel="stylesheet" href='{{ "/css/custom.css" | relURL }}'>
  <link rel="stylesheet" href='{{ "/css/swiper-bundle.min.css" | relURL }}'>

  <!-- SEO Partial -->
  {{- partial "seo.html" . -}}
</head>
